* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: black;
  --color-3b4149: #3b4149;
  --color-febd69: yellow;
  --color-232f3e: black;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #601f25;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}

body {
  font-family: "Montserrat", cursive;
}

a:link { COLOR: white; TEXT-DECORATION: none; font-weight: normal }
a:visited { COLOR: white; TEXT-DECORATION: none; font-weight: normal }
a:active { COLOR: black; TEXT-DECORATION: none }
a:hover { COLOR: white; TEXT-DECORATION: none; font-weight: none; text-underline-offset: 1; }

#basic_addon2{
  color:white;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 25px;

}

.button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}

/*Header*/
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}

.logo {
   left: 10000px;
}

.header-upper {
  background-color: var(--color-131921);
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper.header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0, 57, 0);

}

.blogpage{
  /* left: 10px; */
}

.header-bottom .dropdown-item {
  color: white;
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  color: var(--color-febd69);
  background-color: transparent;
}

/*Footer*/
footer {
  background-color: var(--color-232f3e);
  color: white;
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 16px;
}


/*Home Page - Wrapper 1*/

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h5 {
  font-size: 45px;
  font-weight: 600;
  color: var(--color-febd69);
  line-height: 55px;
  margin: 0 0 12px;
  letter-spacing: -1px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: var(--color-f5f5f7);
}

.sub-banner-content {
  top: 10%;
  left: 10%;
}

.sub-banner-content h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 55px;
  margin: 0 0 12px;
  letter-spacing: -1px;
  text-transform: none;
  color: var(--color-febd69);
}

.sub-banner-content p {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: var(--color-f5f5f7);
}

.sub-banner {
  width: 49%;
}

/*Home Page - Wrapper 2*/
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

/*Home Page - Wrapper 3*/
.home-wrapper-3 {
  background-color: var(--color-f5f5f7);
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

/*Product Card*/
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.product-card:hover .product-actions {
  right: 15px
}

.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}


.product-card .product-details h5 {
  color: var(--color-1c1c1b);
  font-size: 15px;
}


.product-card .product-details p {
  color: var(--color-1c1c1b);
  font-size: 16px;
}

.product-actions {
  top: 15%;
  right: -30px;
  transition: 0.3s;
}


/*Home Page - Wrapper 4*/
.home-wrapper-4 {
  background-color: var(--color-f5f5f7);
  box-shadow: 0 0 10px #0000001a;
}

.swiper-banner {
  background: var(--color-3F4038);
}

.swiper {
  width: 100%;
  background: var(--color-3F4038);

}

.swiper-slide span { 
  font-weight: 600;
  font-size: 22px;
}

.swiper-slide h5 { 
  font-weight: 600;
  font-size: 22px;
}

.swiper-slide h6 { 
  font-size: 14px;
  font-weight: 400;
.logo{
  color: white;
  background-color: black;
  width: 800px;
  position:relative;
  left: -19rem;
  bottom: -8px;
}

.text-white{
  left:-19rem;
}

.firstWeb{
  left:-20rem;
}

#img-wrapper{
  display:flex;
  flex-wrap: wrap;
}
#img-wrapper > div {
  flex: 0 1 33%;
 }

.head-text {
  position: relative;
}
.text-on-whiskey-image {
 position: absolute;
 left: 90%;
 bottom: 75%;
 color: rgba(249, 135, 4, 0.521);
}

.text-on-vodka-image {
  position: absolute;
  left: 80%;
  bottom: 75%;
  color: white;
 }

.whiskey-text{
  font-size: 55px;
}
.vodka-text{
  font-size: 65px;
}

.head-text{
  width: 500px;
  height: 475px;
}

.whiskey-image{
  width:750px;
  height:600px;
}
.vodka-image{
  width: 1500px;
  height: 1200px;
}
img{
  max-width:100%;
  max-height:100%;
}